@import url('https://fonts.googleapis.com/css2?family=Lato&family=Saira+Condensed:wght@900&display=swap');

/* User Screen */

#banner {
    height: 550px;
}

#banner-info img{
    height: 48px;
    width: auto;
}

#banner-info img:hover{
    height: 50px;
    width: auto;
}

#banner .hero img{
width: 100vw;
height: 600px;
object-fit: cover;
margin: 0;
padding: 0;
}

#banner-info {
    position: relative;
    top: -500px;
    margin-left: var(--space-bigger);
    width: 400px;
}

#banner-info h1{
    color: red;
    line-height: 65px;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 900;
    text-shadow: 2px 2px #222121;
    font-size: 70px;
    margin-bottom: 0;
}

#home-page{
    padding: 0;
    margin: 0;
}

.movies {
    display: flex;

}
#video-image{
    padding-right: var(--space-small); 
}
#video-image img{
    width: 280px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
    margin: 0;
}


.all-categories{
    position: relative;
    top: -50px;
    padding: 0;
    margin: 0;
    padding-right: var(--space-bigger);
    padding-left: var(--space-bigger);
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0));

}


/* Admin Screen*/
#admin-screen{
    padding-left: var(--space-big);
    padding-right: var(--space-big);
}

#add-video a{
    background-color: green;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    padding: var(--space-small);
}

#add-video{
    margin-top: var(--space-big);
}
.admin-page-content img{
    width: 280px;
    height: 150px;
    border-radius: 4px;
    object-fit: cover;
    margin: 0;
    padding-right: var(--space-small); 
}

.admin-page-content {
    margin-top: var(--space-bigger);
    display: flex;
}

.admin-video-item{
    width: 280px;
    padding-right: var(--space-small);
}

#edit-link .button-details {
    background-color: red;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    padding: var(--space-small);
}