@import url("https://fonts.googleapis.com/css2?family=Lato&family=Saira+Condensed:wght@900&display=swap");

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #222121;
  z-index: 1000;
}

.overlay-modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

#modal-popup {
  width: 850px;
  height: 670px;
}

.corner-button button {
  margin: var(--space-small);
  color: white;
  font-family: Arial, sans-serif;
  font-size: 18px;
  position: absolute;
  left: 92%;
  border: 4px solid rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 100px;
}

.modal {
  border-radius: 6px;
}
.modal-title {
  position: relative;
  padding-right: var(--space-bigger);
  padding-left: var(--space-bigger);
  top: -130px;

  z-index: 1000;
}

.modal-title h1 {
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-family: "Saira Condensed", sans-serif;
  font-weight: 900;
  text-shadow: 2px 2px #222121;
  font-size: 50px;
}
.gradient {
  height: 15px;
  position: relative;
  top: -127px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(29, 29, 29, 0.5), #1a1818);
}

.modal-body {
  position: relative;
  top: -120px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding-right: var(--space-bigger);
  padding-left: var(--space-bigger);
}

.modal-description {
  padding-right: var(--space-medium);
}
.modal-details span {
  display: flex;
}

.modal-details p {
  padding-right: var(--space-small);
  font-size: 13px;
  text-transform: capitalize;
}
.modal-details .gray {
  color: gray;
}
